{{#> app}}
    {{#*inline "content"}}
  
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-2">     
            <img src="/img/it.png" alt="it book cover" class="cover img-fluid rounded">
        </div>
         <div class="col-md-6 col-lg-4 mb-2">     
            <img src="/img/berserk.png" alt="it book cover" class="cover img-fluid rounded">
        </div>
          <div class="col-md-6 col-lg-4 mb-2">     
            <img src="/img/meditacoes.png" alt="it book cover" class="cover img-fluid rounded">
        </div>
    </div>
    {{/inline}}
{{/app}}