{{#> app}}
    {{#*inline "content"}}
      <div class="card">
          <card-header>Purchase Completed</card-header>
          <div class="card-body">
              <div class="alert alert-success" role="alert">Congratulations, purchase completed. Order number is<b>#{{viewData.orderId}}</b></div>
          </div>
      </div>
    {{/inline}}
{{/app}}